body {
	background-color:#fff;
	background-position:center;
	background-repeat:repeat-y;
	font-family: "Lucida Grande","Lucida Sans Unicode",geneva,verdana,sans-serif;
	font-size:15px;
	color:#777;
	text-align: center;
	width: 100%;
}

.titre {
	text-align: center;
}

table {
	margin: 0 auto;
}

img {
	-moz-transform: scaleY(-1);
	-o-transform: scaleY(-1);
	-webkit-transform: scaleY(-1);
	transform: scaleY(-1);
	filter: FlipH;
	-ms-filter: "FlipH";
	display: block;
	margin: auto;
}

#container {
    width: auto;
	height: 70%;
}

#container > img {
    width: 100%;
    height: auto;
}

.button {
    display: inline-block;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 500;
    font-size: 20px;
    outline: 0;
    border-radius: 0;
    color: white;
    background: #4472B9;
    white-space: nowrap;
    padding: 9px 16px !important;
    line-height: 1.4;
    border: 0;
    -webkit-transition: 0.1s;
    transition: 0.1s;
}

.button#stop {
    background: red;
}
